# web framework
quart==0.15.1
uvicorn==0.14.0
pydantic==1.8.2
requests

# jobstatus
requests==2.25.1
google-cloud-pubsub==2.6.0

# logaus
pyyaml==5.4.1
google-cloud-logging==2.5.0

# neomics
# neo4j==1.7.6
neo4j==4.1.1

# accessing topic libraries
google-cloud-storage==1.39.0
cachetools==4.2.2

# just to load excel/csv, meh ...
pandas==1.2.5
xlrd==2.0.1
openpyxl==3.0.7

# only for dev
pytest==6.2.4
