# web framework
quart==0.14.1
uvicorn==0.13.1
pydantic==1.7.3

# jobstatus
requests==2.25.1
google-cloud-pubsub==2.2.0

# logaus
pyyaml==5.3.1
google-cloud-logging==2.0.2

# neomics
# neo4j==1.7.6
neo4j==4.1.1

# accessing topic libraries
google-cloud-storage==1.35.0
cachetools==4.2.0

# just to load excel/csv, meh ...
pandas==1.1.5
xlrd==2.0.1
openpyxl==3.0.5

# only for dev
pytest==6.2.1
